html, body {
  background-color: #181a1b;
  color: #e8e6e3;
  font-family: 'JetBrains Mono', monospace;
}

.green-text {
  color: green;
}

.custom-btn-size {
  width: 120px;
}

#audio-canvas {
  width: 100%;
  height: 250px;
}
