[Unit]
Description=Friday Assistant Service
After=network.target

[Service]
Environment="FRIDAY_CONFIG=/home/pi/release-raspberrypi3"
Environment="FRIDAY_GUI=/home/pi/release-raspberrypi3/becky"
ExecStart=/home/pi/release-raspberrypi3/friday-armv7-unknown-linux-gnueabinhf
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
